
#btn{text-decoration: none;
}
.title {
	text-align: center;
}

.board_box {
	width: 600px;
	height: 800px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 30px;
	overflow-y: scroll;	/* 세로 스크롤 */ 
	word-break : break-all; /* 텍스트가 가로 사이즈보다 넘어가면 자동으로 줄바꿈 */
	-ms-overflow-style: none;
 }
::-webkit-scrollbar {
  display: none;
}

.user_profile {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	margin: 10px;
}

.list_profile {
	margin-top: 10px;
	display: flex;
}

.list_title {
	padding: 10px;
}

.list_subtitle {
	width: 8%;
	height: 17px;
	border-radius: 50px;
	background: #384576;
	text-align: center;
	margin-top: 15px;
}

.user_name {
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	color: #333;
}

.b_date {
	font-size: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	color: #7c7c7c;
}

.user_department {
	padding-top: 5px;
	font-size: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	color: #fff;
	line-height: 100%;
}

.content_box {
	padding-left: 20px;
	padding-top: 10px;
}

.b_title {
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
	color: #333;
}

.white {
	color: white;
}

.hidden {
	opacity: 0%;
}
/*=================================================버튼코드팬======================================================  */
html, body {
	height: 100%;
}

.wrap {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	width: 89px;
	height: 34px;
	margin-top: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 0px;
	font-weight: 500;
	color: #000;
	background-color: #c0c0c0;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
/*==================================================2022-11-09============================  */
#addct {
	background-color: white;
	color: revert;
	width: 281px;
	justify-content: center;
	margin-left: 159px;
	/* border-radius: 50px; */
	border: none;
}

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.button2 {
    background: #428bca;
    padding: 11px;
    color: #fff;
    border: 0;
    border-radius: 36px;
    cursor: pointer;
    margin-left: 42%;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
 background-color: aliceblue;
  margin: 10% auto;
  width: 30%;
  padding: 2rem 1rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-btn{
	text-align: center;
}
#category{
    width: 90%;
    margin: 13px 28px;
}
#deletebtn{
	border-radius:40px; 
}

/* ----------- 모달 CSS ------------------ */


.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  
}  
  
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* 모달창 크기 */
.modal-window > div {
  width: 500px;
  height: 715px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  box-shadow: 2px 2px 5px 2px #ccc;
}
  
  
header h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
 
}

.modal-close:hover{
   color: black;
}

/* Demo Styles */

a {
  color: inherit;
  text-decoration: none;
}

.container2 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
    border-radius: 1rem;
  }


.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  
}

.btn i {
    padding-right: 0.3em;
  }

.modal_btn_box{
   float: right;
}
/*=================================================================  */

.Click-here {
  cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size:16px;
  padding: 18px 0;
  margin: 0 auto;
  transition:background-image 3s ease-in-out;
}
.Click-here:hover{
  transition:background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{
  margin-top: 45px;}
}
#edit{
	margin: 10px 167px;
    width: 108px;
        background-color: unset;
    border: 4px double darkgray;
}
#insert{
	display: flex;
}
.performance{
	height: 20px;
}
