@charset "UTF-8";

#boardbox{
	width: 800px;
	height: 800px;
	border: 1px solid #ececed;
	box-shadow: 2px 2px 5px 2px #262f51;
	background: #fff;
	margin-top: 50px;
}

.dash_container{
	margin: 0 auto;
}
.con_box{
	display: flex;
	width: 1200px;
	margin: 0 auto;
}


