@charset "UTF-8";

/* 전체 크기 */
.container{
	width: 1200px;
	height: 800px;
	margin: 50px auto;
}

/* 회원가입 박스 크기 */
.sign_up_box{
	width: 500px;
	height: 100%;
	margin: 0 auto;
	padding-top: 100px; 
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px 2px #f2f2f2;
}

/* 회원가입 타이틀 */
.su_title{
	font-size: 27px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
}

/* 회원가입 정보 입력 박스 */
.info_box{
	margin-top: 50px;
}

.info_box td{
	border: 1px solid #ccc;
}

/* 회원가입 버튼의 박스 */
.btn_box{
	margin-top: 50px;
}

/* 회원가입 버튼 */
.sign_up_btn{
	background: #efefef;
	width: 65%;
	height: 55px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	color: rgb(51, 51, 51);
	font-size: 15px;
}


.form-floating{
	margin-left: 80px;
}

.form-control{	/* 인풋 박스 사이즈 */
	width: 80%;
}

/* 정규 표현식 문구 출력 */
.check_icon1, .check_icon2, .check_icon3, .check_icon4, .check_icon5{ 
	font-size: 10px;
	color: #df2025;
	margin-top: 5px;
	margin-left: 10px;
	text-align: left;
}
